data/mitogenomes_reich/mtdna_reich.fasta
progress.md


data/mitogenomes_reich/mtdna_reich.fasta

data/genotype_data_Soqotra/genotype_data_Soqotra/Soqotra_genotypes.snp

data/genotype_data_Soqotra/genotype_data_Soqotra/Soqotra_genotypes.geno
